
@media (min-width:767px) and (max-width:767px){
    
    .feedback-items{
        margin: 0 0 20px 0;
        position: static;
    }
}

@media (max-width:767px){
    
    .feedback-items{
        margin: 0 0 20px 0;
        position: static;
    }
}
@media (max-width:632px){
    .rating-items{
        align-self: auto;
        width: 100%;
        text-align: center;
    }
    .rating-items p{
        margin: 10px auto;
        width: 100%;
        padding: 10px;
    }
    .stars{
        display: block;
        padding-bottom: 10px;
    }
}
@media (max-width:992px){
    .heading{
        margin-right: 0;
    }
    .div1{
        padding: 0;
        
    }
    .popularity{
        padding: 0 10px;
        text-align: center;
    }
    .feedback{
        padding: 0;
    }
}

@media (min-width:991px) and (max-width:1255px){
    .heading{
        font-size: 3rem;
    }
    .rating-items{
        align-self: auto;
        width: 100%;
        text-align: center;
    }
    .fi2{
        margin: 0 0 20px 0;
    }
    .rating-items p{
        margin: 10px auto;
        width: 100%;
        padding: 10px;
    }
    .stars{
        display: block;
        padding-bottom: 10px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .feedback{
        justify-content:unset;
    }
    .fi1{
        margin:0 20px 20px 0;
    }
    .fi2{
        margin: 0 0 20px 0;
    }
    .fi3{
        margin: 0;
    }
}
@media (max-width:767px){
    .popularity{
        padding: 0 0.15rem;
    }
    .sub-heading{
        padding: 5px 0.4rem;
    }
    .fi1{
        margin:0 0 20px 0;
    }
    .fi2{
        margin: 0 0 20px 0;
    }
    .fi3{
        margin: 0;
    }
}
@media (min-width:993px){
    .fi3{
        margin-top: 30px;
    }
    
}
@media (max-width:543px){
    .bgm-img{
        display: block;
        position: fixed;
    }
    .bgm-top{
        top:0;
        left: 0;
    }
    .bgm-bottom{
        right: 0;
        bottom: -50%;
    }
    .bg-img{
        display: none;
    }
}
@media (max-width:284px){
    .person-details{
        text-align: center;
    }
    .avator{
        padding-bottom: 5px;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .user{
        margin: 0 auto;
    }
}
